
.footerbackgroundcolor{
    background-color: lightgray ;
    
}
.firstdivmargin{
    padding-top: 60px;
}
.seconddivmargin{
    padding-top: 60px;
}
.thirddivmargin{
    padding-top: 60px;
}
.all{
    color:#6a7695;
}
.paddtop{
    padding-top: 25px;
}
.color{
    color: blue;
}
.heighwidth{
    height: 30px;
    width:20%
}


/* secondidv css */
.backgroundone{
    margin-top: 30px;
    border-radius: 5px;
    background-image: url("/secondivone.jpg");
    background-size: cover;
  
    height: 200px;
    
  background-size: cover;
}
.backgroundsecond{
    margin-top: 30px;
    border-radius: 5px;
    background-image: url("/secondivtwo.png");
    background-size: cover;
    height: 200px;
    
  background-size: cover;

}
.backgroundthree{
    margin-top: 30px;
    border-radius: 5px;
    background-image: url("/secondivthree.jpg");
    background-size: cover;
    height: 200px;
    
  background-size: cover;

}
.backgroundfour{
    margin-top:30px;
    border-radius: 5px;
    background-image: url("/secondivfour.jpg");
    background-size: cover;
    height: 200px;
    
  background-size: cover;

}
.completediv{
    padding-top: 10px;
    width: 92%;
    margin: auto;
}
.secondivheading{
    padding-top: 40px;
    
}
.thirdiv{
    height: auto;
    padding-bottom: 30px;
    
}
/* thirdiv css */
.wrapper,
.single-card{
    height: 200px;
    max-width: 300px;
    margin: relative;
}
.wrapper{
    perspective: 900px;
}
.single-card{
    text-align: center;
    transition: all 1.5s cubic-bezier(0.7, -.5, 0.3 ,1.8);
    transform-style: preserve-3d;
}
.wrapper:hover .single-card{
    transform: rotateY(180deg);
}
.front,.back{
    width: 300px;
    position: relative;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    
}
.front{
    cursor: pointer;
    height: 100%;
    background-image: url('/card1.png');
    background-repeat: no-repeat;
    backface-visibility: hidden;
    
    border-radius: 10px;
    background-size: contain;
    background-position: center center;
/* /*   background-color:pink; just for practics  */
   
}
.frontingone{
    cursor: pointer;
    height: 100%;
    background-image: url('/card2.png');
    background-repeat: no-repeat;
    backface-visibility: hidden;
    
    border-radius: 10px;
    background-size: contain;
    background-position: center center;
/* /*   background-color:pink; just for practics  */
   
}
.frontingtwo{
    cursor: pointer;
    height: 100%;
    background-image: url('/card3.png');
    background-repeat: no-repeat;
    backface-visibility: hidden;
    
    border-radius: 10px;
    background-size: contain;
    background-position: center center;
/* /*   background-color:pink; just for practics  */
   
}
.frontingthree{
    cursor: pointer;
    height: 100%;
    background-image: url('/card4.png');
    background-repeat: no-repeat;
    backface-visibility: hidden;
    
    border-radius: 10px;
    background-size: contain;
    background-position: center center;
/* /*   background-color:pink; just for practics  */
   
}
.back{
    transform: rotateY(180deg);
    position: absolute;
    border-radius: 10px;
    height: 200px;
    background: blue;
}
.content{
    padding-top: 25%;
}
.content h2{
    font-size: 35px;
    margin: 0;
    font-weight: 300;
}
.content h4{
    margin: 0;
}
.socials{
    margin-top: 20%;
}
.socials i{
    font-size: 30px;
    margin: 0 10px;
}

/* thirdiv css */
.thirdivback{
    width: 92%;
    margin: auto;
    height: 500px;
}
.fourthdivH1{
    padding-top: 50px;
}
.thirdivonediv{
    background-color: lightgray;
    height: 300px;
}


/* fourthdiv css */
.shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



/* new Thirdiv css */
.thirdybackgroundcolor{
    background-color: lightgray;
    height: auto;
}
.thirdycardingwidth{
    width: 96%;
    margin: auto;
    
}
.thirdyimagesetting{
    width: 100%;
}

/* Firstdiv css  */
.firstdivbackgroundpicture{
    background-image: url("/firstdivpicture.png");
    height: 700px   ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.firstdivheas{
    padding-top: 180px;
    font-weight: bold;
    font-size: 50px;
}
.firstdivparagraph{
    color: #77798c;
    font-weight: 400;
}



